.welcome {
    position: relative;
    min-height: 80vh;

    &__language{
        position: absolute;
        display: flex;
        flex-direction: column;
        color: white;
        top: 40%;
        transform: translateY(-50%);

        &-en,
        &-gr{
            font-size: 1.1rem;
            padding-left: .5em;
            margin: .3em 0;
            cursor: pointer;
        }

        &-line{
            width: 100%;
            height: 1px;
            background: white;
        }
    }


    &__img-header{
        display: flex;
        justify-content: end;
    }

    &__header{
        margin-left: 1em;        
    }

    &__svg{
        content: url("/dist/img/MARIOS.svg");
        margin-right: -10px;
    }

    &__img{
        margin-top: auto;
        overflow: hidden;
    }

    &__img img {
        max-width: 100%;
        content: url("/dist/img/home-marios1.png");
    }

    &__arrow-down {
        position: relative;
        width: 100%;
        height: 100%;

        &-line {
            position: absolute;
            top: 0;
            left: 67.5px;
            right: -8%;
            height: 1px;
            background: white;
            transform-origin: right;
        }

        & img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            // rotate: -135deg;
            border: 2px solid white;
            border-radius: 50%;
            content: url("/dist/img/scroll.svg");
        }

        &-line2 {
            position: absolute;
            top: 67.5px;
            height: 60vh;
            left: 0;
            width: 1px;
            background: white;
            z-index: -1;
            transform-origin: top;
        }
    }

    &__text{
        display: flex;
        flex-direction: column;
        text-align: end;
        color: white;
        z-index: 10;
        overflow: hidden;
        // position: relative;
        // right: 0;
        // bottom: 0;

        &-box{
            overflow: hidden;

            
                font-family: $ff-nf;
                line-height: 1.3;
        
                &:first-child{
                    font-size: $fs-20;
                    margin-top: .5em;
                    margin-right:  0.1em;
                }
        
                &:nth-child(2){
                    font-size: $fs-20;
                    margin-right: 0.1em;
                }
        
                &:nth-child(3){
                    font-size: $fs-32;
                    font-weight: $fw-b;
                    margin-right: 0.1em;
                    color: $highlight-color;
                }
        
                // &:nth-child(4){
                //     font-size: $fs-32;
                //     font-weight: $fw-b;
                //     margin-right: 0.1em;
                // }
            
        }
    }

    
}
